@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-text: #0C0C0C; /*zwart - standaard tekstkleur*/
    --color-background-words: #F2F0FF; /*lichtpaars - voor "hello" en "services in de achtergrond")*/
    --color-background: #F3F6F9; /*lichtgrijs - voor achtergrond van de projecten*/
    --color-service-tile: #7A7A7A; /*grijs - voor service-tegel tekst*/
}


/* ------------------------------- 2. Typography ----------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    /*color: var(--color-text);*/
}

body {
    font-family: var(--body-font);
    color: var(--color-text);
}

/* ------------------------------- 3. Layout --------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}





/* --------------- 3.1 Reusables ----------------------- */

.work {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 200px;
}

.portfolio-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 50px;
    width: 400px;
    flex:3;
}

.portfolio-image {
    display: flex;
    align-items: center;
    border: red dotted 2px;
    padding: 100px;
    /*box-shadow: 0px 4px 8px grey;*/
    flex: 5;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; /* Centreert de sectie horizontaal */
    width: calc(100% - 40px); /* Past de breedte aan om rekening te houden met de padding */
    border: 2px dashed orangered;
}


/* --------------- 3.2 Other --------------------------- */

.variety {
    flex-direction: row-reverse;

}


/* ------------------------------- 4. Areas ---------------------------------------- */



.company-contact {
    padding: 50px;

}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: 2px dashed blue;
}







/* --------------- 4.1 Header ------------------------- */
header {
    border: 2px greenyellow dashed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 300px;
    background-color: #4845E4;
    color: white;
}

.header-content__navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*flex-basis: 500px;*/
    list-style-type: none;

    padding: 0;
}

.header-content__navigation {
    margin: 20px;
}

.header-content__navigation a {
    text-decoration: none;
    color: white;
}


/* --------------- 4.2 Introduction ------------------- */
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #5722CD;
}

.company {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 300px;
}

.company-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #5722CD;
    margin: 80px;
    flex-basis: 150px;
}


/* ------------------------------- 5. Media Queries -------------------------------- */